[Unit]
Description=nanourl
After=nginx.service

[Service]
Type=simple
Environment=TODOIST_API_TOKEN=<your_todoist_api_token>
Environment=DATABASE_URL=<your_postgresql_connection_string>
Environment=APP_PATH=<your_static_site_path>
ExecStart=sudo -E -H -u <your_user_name> <your_go_path>/bin/nanourl
Restart=always

[Install]
WantedBy=multi-user.target